
@{
    ViewBag.Title = "Index";
}

<h2>Gerenciamento</h2>

@Html.ActionLink("Clientes", "Index", "Cliente", null, new { @class = "btn btn-default" })
@Html.ActionLink("Pedidos", "Index", "Pedido", null, new { @class = "btn btn-default" })
@Html.ActionLink("Medidas", "Index", "Medida", null, new { @class = "btn btn-default" })
@Html.ActionLink("Informações de pagamentos", "Index", "Dados", null, new { @class = "btn btn-default" })
@Html.ActionLink("Comentários", "Index", "Comentario", null, new { @class = "btn btn-default" })
@Html.ActionLink("Vestidos", "Gerenciamento_vestido", "Gerenciamento", null, new { @class = "btn btn-default" })
