@model IEnumerable<business.Vestido>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div class="jumbotron">
    <table class="table">
        <tr>             
            <th>
                @Html.DisplayNameFor(model => model.Imagem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Preco)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                
                <td>
                    @{
                        if (item.Imagem != null)
                        {
                            <img src="@Url.Content(item.Imagem)" alt="Image" style="width:100px;height:150px;max-width: 100%; height: auto;" />
                        }
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Preco)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.IdPrduto }, new { @class = "btn btn-default" }) |
                    @Html.ActionLink("Details", "Details", new { id = item.IdPrduto }, new { @class = "btn btn-default" }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.IdPrduto }, new { @class = "btn btn-default" }) |
                    @Html.ActionLink("Adicionar ao carrinho", "Create", "Medida", new { id = item.IdPrduto }, new { @class = "btn btn-default" })
                    @Html.ActionLink("Adicionar comentário", "Create", "Comentario", new { id = item.IdPrduto }, new { @class = "btn btn-default" })
                </td>
            </tr>
           }

    </table>
    </div>


